data
*.pdf
cache/*
tmp/*
.nfs*
*.gds
eQTLmapping/.snakemake/
eQTLmapping/logs/
eQTLmapping/bed_files/
eQTLmapping/GRMs/
eQTLmapping/vcf_files/
eQTLmapping/sample_list/
V_folder/
eQTLmapping/phenotypes/
eQTLmapping/covariates/
eQTLmapping/Va_cache/Va.tsv
eQTLmapping/cache
eQTLmapping/results/
eQTLmapping/detections/
GxE_h2/gxemm_tmp_*
GxE_h2/logs/
GxE_h2/.ipynb_checkpoints/
output/GxEMM/